[[language]]
name = "cpp"
file-types = ["cpp", "hpp", "c", "h", "hxx", "chai"]
language-servers = [ "clangd", "champ" ]
indent = {tab-width=4, unit="    "}

[[language]]
name = "zig"
file-types = ["zig","zon"]
language-servers = [ "zls", "champ" ]
indent = {tab-width=4, unit="    "}

[[language]]
name = "ruby"
indent = {tab-width=4, unit="    "}
formatter = { command = "rubocop", args = ["--stdin", "foo.rb", "-a", "--stderr", "--fail-level", "fatal"] }
language-servers = [ "solargraph", "champ" ]

[[language]]
name = "python"
indent = {tab-width=4, unit="    "}
formatter = { command = "black", args = ["-"] }
language-servers = [ "pylsp" ]

[[language]]
name = "markdown"
language-servers = [ "champ" ]
indent = {tab-width=4, unit="\t"}
# comment-tokens = ["-", "+", "*", "- [ ]", ">"]
comment-tokens = ["-", "+", "*", ">"]

[[language]]
name = "java"
language-servers = [ "champ" ]

[[language]]
name = "org"
file-types = ["org"]
language-servers = [ "org" ]
indent = { tab-width = 2, unit = "  " }

[[language]]
name = "v"
file-types = ["v"]
language-servers = ["v-analyzer"]

[language-server.clangd]
args = ["--header-insertion=never"]

[language-server.marksman]
command = "org"
args = ["-m", "lsp", "-l", "/tmp/org.log"]

[language-server.org]
command = "org"
args = ["-m", "lsp", "-l", "/tmp/org.log"]

[language-server.champ]
command = "champ"
# Default groves are configured in '~/.config/champ/config.zon'
args = ["lsp"]

[language-server.lspmitm]
command = "/home/geertf/gubg/bin/lspmitm"
