snippet np "import numpy as np"
import numpy as np

endsnippet

snippet pd "import pandas as pd"
import pandas as pd

endsnippet

snippet p "print()"
print($1)
endsnippet

snippet f "f()"
f'$1'
endsnippet
